<!-- app/views/comments/_form.html.erb -->
<%= form_with(model: [@project, comment], local: true, class: "mt-2") do |form| %>
  <div class="mb-4">
    <%= form.text_area :content, placeholder: "Write your comment...", class: "shadow border rounded w-full py-2 px-3 text-gray-700 mb-2" %>
  </div>
  <%= form.submit "Add Comment", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
