<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4 rounded-lg mb-6 shadow-sm">
    <div class="flex items-center mb-2">
      <svg class="h-6 w-6 text-red-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-3-3v6m-6 6h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
      </svg>
      <h2 class="text-lg font-semibold">
        <%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %>
      </h2>
    </div>
    <ul class="list-disc pl-6 space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-sm"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
