<!-- app/views/projects/show.html.erb -->
<div id="comments">
  <h2 class="text-lg font-semibold mb-4">Comments</h2>

  <div id="comments_list">
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  </div>

  <!-- Pagination links for comments -->
  <div class="mt-4">
    <%= paginate @comments %>
    <%#= paginate @comments, theme: 'erb' %>
  </div>

  <h3 class="text-lg font-semibold mt-4">Add a Comment</h3>
  <%= turbo_frame_tag 'comment_form' do %>
    <%= render 'comments/form', comment: @project.comments.build %>
  <% end %>
</div>
